body{
    background-color: rgba(52, 94, 129, 0.973);
}

#navbar {
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.navbarUl {
    display: flex;
    justify-content: space-between;
}

.navbarUl li {
    list-style-type: none;
    color: rgb(183, 199, 199);
    font-size: 10px;
    margin-right: 15px;
   
    
}
   


.nav-items-active::after {
    content:'';
    display: inherit;
    width: 50%;
    margin: 0 auto;
    border-bottom: 1px solid lightgreen ;
}

 .nav-links:hover{
    color: white;
    
    
}


h1{
    color: white;
    margin-left: 100px;
    margin-top: 50px;
}
h2{
    color: white;
    margin-left: 100px;
    margin-top: 50px;
}

.album-cover{
    height: 150px;
    width: 150px;
}


